<div class="search-inventory-page">

  <mat-card>
    <mat-card-content>
     <div class="header">
       <h1>Search Inventories</h1>
     </div>
    <form class="form-row">

      <div class="email-input">
        <mat-form-field class="full-width " appearance="outline">
          <mat-label>Inventory Type</mat-label>
          <mat-select [(ngModel)]="type" name="type" multiple >
            <mat-option value="Fridge">Fridge</mat-option>
            <mat-option value="TV">TV</mat-option>
            <mat-option value="Washing Machine">Washing Machine</mat-option>
            <mat-option value="Laptop">Laptop</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="email-input">
        <mat-form-field class="full-width " appearance="outline">
          <mat-label>Inventory Brands</mat-label>
          <mat-select [(ngModel)]="brands" name="brands" multiple >
            <mat-option value="Samsung">Samsung</mat-option>
            <mat-option value="LG">LG</mat-option>
            <mat-option value="Innovex">Innovex</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="email-input">
        <mat-form-field class="full-width " appearance="outline">
          <mat-label>Description</mat-label>
          <input [(ngModel)]="description" name="description" matInput >
        </mat-form-field>
      </div>

      <div class="buttons">
        <button class="loginButton" mat-flat-button color="primary" (click)="onSearchInventory()">Search</button>
        <button class="loginButton" mat-flat-button color="primary" (click)="onMore()" >More</button>
        <button class="loginButton clearButton" mat-flat-button color="primary" (click)="onClear()" >Clear</button>
      </div>

    </form>

      <div class=" view-items">
        <table mat-table [dataSource]="dataSource" >

          <!-- Position Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Item Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef> Item Brand </th>
            <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description</th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Expired Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <!-- Hide the header cell for the actions column -->
            <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
            <td mat-cell *matCellDef="let element">
              <!-- Add your icons or buttons for actions here -->
<!--              <mat-icon style="margin-right: 8px;" (click)="onDelete(element.inventoryId)">delete</mat-icon>-->
<!--              <mat-icon style="margin-left: 30px;" >edit</mat-icon>-->
              <button mat-icon-button (click)="onDelete(element.inventoryId)">
                <mat-icon  style="color: #db1a1a;margin-right: 8px;">delete</mat-icon>
              </button>
              <button mat-icon-button (click)="onUpdateInventoryPopup(element.inventoryId)" >
                <mat-icon style="color: #7643D2;margin-left :30px;">edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

      <button class="cancel-button" mat-flat-button  (click)="onChange()" >Cancel</button>

      </mat-card-content>
  </mat-card>


</div>
