<div class="dashboard-container">
  <div class="dashboard-header">
    <button class="logout-button" mat-button color="warn" (click)="logout()">Logout</button>
  </div>
  <div class="dashboard-content">
    <div class="dashboard-description">
      <h1>Welcome to the Inventory Management System</h1>
      <p>Efficiently manage your inventories ...</p>
    </div>
    <div class="dashboard-actions">
      <button mat-flat-button color="primary" class="action-button" (click)="openAddInventoryPopup" >Add Inventory</button>
      <button mat-flat-button color="primary" class="action-button">Search Inventory</button>
    </div>
  </div>
</div>
