.login-page .mat-card{

  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  height: 350px;
  background-color:  #484E55;
  color: white;
}

.login-page .header{

  margin-top: 20px;
  text-align: center;

}

.login-page .full-width{
  width: 80%;
}

.login-page .forgot-password{

  padding-left: 0px;
}

.login-page .email-input{

  padding-top: 10px;
}

.login-page .blue-link {
  color: lightblue;
}
.login-page .buttons{

  margin-left: 100px;
  margin-top: -20px;
}
.login-page .loginButton{

  /*position: relative;*/
  margin-top: -57px;
  margin-left: 300px;
}

.login-page .registerButton{

  /*position: relative;*/
  margin-top: 20px;
  margin-left: 0px;
}

.login-page .forgot-password{

  margin-left: -335px;
  /*margin-top: 50px;*/
}
